#bodyLogin {

    background-image: url(../style/maracuja-pitaya-rosa-isolado-em-um-fundo-preto_181624-45565.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    align-items: center;
    justify-items: center;
    font-family: 'Aclonica','Courier New', Courier, monospace;
    

}

#card-login{

    display: flex;
    flex-direction: column;
    align-items: center;
    height: 400px;
    width: 500px;
    background-color: #410d32bc;
    border-radius: 20px;
    align-self: center;
    margin-top: 11%;

}

#login{
    font-size: 3.0rem;
    text-align: center;

}

.container span{

    font-size: 0.7rem;

}

#voltar{
    font-size: 0.5rem;
    margin-top: 20px;
    margin-right: 80%;
}

#input_login, #input_senha {
    color: white;
    background-color: rgba(137, 43, 226, 0);
    border: solid 2px;
    padding: 1%;
    border-top: transparent;
    font-family: 'Aclonica','Courier New', Courier, monospace;
    border-left: transparent;
    border-right: transparent;
    border-bottom: solid 2px white;
    width: 300px;

}

#input_senha{

    margin-top: 4%;

}

#input_login{

    margin-top: 3%;

}

::-webkit-input-placeholder{

    color: white;

}

#botao_enviar{

    width: 100px;
    height: 50px;
    padding: 2%;
    border-radius: 4px;
    color: white;
    background-color: #700938;
    font-family: 'Aclonica','Courier New', Courier, monospace;
    border: transparent;
    transition: 0.4s;
}

#botao_enviar:hover{

    background-color: #ca118f;
    transition: 0.4s;

}

.container {

    display: flex;
    flex-direction: column;
    align-items: center;

}

.container a {

    color: white;
    text-decoration: none;

}

.container a:hover {

    text-decoration: underline;

}

.navbar {

    width: 100%;
    height: 150px;
    background: linear-gradient(to right, #A13490, #500745);
    margin: 0%;
    display: flex;
    font-family: 'Aclonica','Courier New', Courier, monospace;
    box-shadow: 0 0 10px rgba(0, 0, 0, 3.5);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    
}

.navbar img {

    width: 10%;
    height: 80%;
    margin-top: 1%;
    margin-left: 1%;

}

.navbar a {

    text-decoration: none;
    color: white;

}

#div_mensagem{

    margin-top: 5%;
    margin-left: 6%;

}

.navbar ul {

    justify-content: space-around;
    display: flex;
    list-style-type: none;
    width: 60%;
    margin-top: 5%;

}

#selecionado{

    text-decoration: underline white;

}

.navbar span {

    color: white;
    margin-top: 30%;

}

footer{
    margin-top: 100%;
    background: linear-gradient(to left, #68215e, #500745);
    height: 270px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    

}

#redes{

    display: flex;
    
}

#redes2{

    display: flex;
    flex-direction: row;
    align-items: end;

    color: rgb(24, 18, 18);
    margin-left: 15%;

}

footer a{

    color: white;
    text-decoration: none;

}

footer a:hover{

    text-decoration: underline solid 1px white;

}

footer .navFot ul {
    
    font-family: 'Aclonica','Courier New', Courier, monospace;
    list-style-type: none;
    font-size: 0.8rem;
    padding-top: 1%;

}

footer li{

    margin-top: 1.5%;

}

footer .navFot{

    margin-top: 2%;

}

footer img {

    margin-top: 1%;
    margin-left: 2%;
    width: 6.5%;
    height: 30%;

}

#direitos{

    font-size: 0.6rem;
    font-family: 'Aclonica',Arial, Helvetica, sans-serif;
    color: white;
    display: flex;
    justify-self: center;
    padding-bottom: 1%;

}

#direitos span {

    align-self: end;

}